<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="PHP_CodeSniffer" xsi:noNamespaceSchemaLocation="phpcs.xsd">
    <description>The coding standard for managing a WooCommerce Blocks Testing Environment.</description>

    <rule ref="WooCommerce-Core" />

    <rule ref="WordPress">
        <exclude name="WordPress.Files.FileName.InvalidClassFileName" />
    </rule>
</ruleset>